* {
	font-family: "sans-serif", cursive;
}

#p3 {
	color: yellow;
}

h1 {
	color: #000;
	font-size: 2rem;
}

#head2 {
	text-transform: uppercase;
}

.languange-item-list {
	background-color: #abf7b1;
}

li[class=tools-items] {
	border: 2px solid skyblue;
}


#programming-lang li {
	list-style: none;
}

h4 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

h4 ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 5px;;
}
